<MudCarousel Class="mud-width-full" Style="height:300px;" ShowArrows ShowBullets="false" AutoCycle TData="object">
    <MudCarouselItem Transition="Transition.Slide">
        <div style="height: 300px;">
            <MudImage Src="https://picsum.photos/1600/300?diff=0" ObjectFit="ObjectFit.Contain" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <div style="height: 300px;">
            <MudImage Src="https://picsum.photos/1600/300?diff=1" ObjectFit="ObjectFit.Contain" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <div style="height: 300px;">
            <MudImage Src="https://picsum.photos/1600/300?diff=2" ObjectFit="ObjectFit.Contain" />
        </div>
    </MudCarouselItem>
</MudCarousel>
